<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aliquam, explicabo quasi, tenetur quis impedit fuga accusantium nihil consequuntur ipsum commodi dignissimos maiores consectetur beatae. Id eligendi voluptate quos dignissimos!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non accusantium aut quas sit, nobis sed commodi et cupiditate accusamus consequatur adipisci mollitia recusandae aperiam amet, ipsa ipsam magnam. Optio, ratione.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsam quas maxime possimus sint quia. Quia ducimus, totam unde cupiditate nesciunt consequuntur magnam possimus eveniet velit architecto itaque officiis ad.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officiis incidunt at. Quod sequi reprehenderit provident et cupiditate? Quos laboriosam corporis accusamus dolores est aperiam tenetur iusto, tempore nesciunt autem.
</p>
